<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="vn.edu.poly.duanquanlysach">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.ChitietSachActivity"></activity>
        <activity android:name=".Activity.Update_SachActivity" />
        <activity android:name=".Activity.HDCTActivity" />
        <activity android:name=".Activity.ToptrendActivity" />
        <activity android:name=".Activity.ThongkeActivity" />
        <activity android:name=".Activity.HoadonActivity" />
        <activity
            android:name=".Activity.TheloaiActivity"
            android:parentActivityName=".Activity.NguoidungActivity" />
        <activity android:name=".Activity.SachActivity" />
        <activity android:name=".Activity.them" />
        <activity android:name=".Activity.NguoidungActivity" />
        <activity
            android:name=".Activity.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DangnhapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar" />
        <activity
            android:name=".Activity.Manhinhchao"
            android:screenOrientation="portrait"
            android:theme="@style/NoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>